
.button-display {
    display: block;
    margin: 1em;
}

.btnStyle {
    border-radius: 5em;
    background-color: rgb(194, 161, 168);
    transition: 200ms ease-in-out;
}
.btnStyle:hover {
    background-color: rgb(214, 181, 188);
}

@media (max-width: 662px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-display {
        margin-top: 0em;
    }
}