body {
    margin: 0%;
    background-color: rgb(255, 252, 250);
    font-family: Tahoma;
}

header {
    padding: 0em 0em 0em 1em;
    margin-top: 0%;
    background-color: rgb(235, 235, 235);
    border: .1rem solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.container-links > a {
    margin: 0em .7em;
    width: max-content;
}

.container-links {
    width: max-content;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 662px) {
    header {
        flex-direction: column;
        margin-block-end: 0em;
    }
    .container-links {
        padding-left: 0em;
    }
}
