
.button-display {
    display: block;
    margin: 1em;
}

#btn1 {
    border-radius: 5em;
    background-color: rgb(194, 161, 168);
    transition: 250ms ease-in-out;
}
#btn1:hover {
    background-color: rgb(184, 151, 158);
}

@media (max-width: 662px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-display {
        margin-top: 0em;
    }
}